Python/cell.py
Python/testing.py

Python/bin
Python/include
Python/lib
Python/lib64
Python/share
Python/pyvenv.cfg

# remove when finished
stock-simulator/

stock-simulator/client/node_modules
stock-simulator/client/package-lock.json
stock-simulator/server/target
